@import url(reset.css);

#cgv-wrap {
    width: 100%;
    min-width: 1040px;
    position: relative;
}

.header {
    z-index: 101;
}

.header .contents {
    width: 980px;
    margin: 0 auto;
}

.header .header-content {
    margin-bottom: 52px;
    background-color: #fff;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
}

.header-content .contents {
    display: flex;
    justify-content: space-between;
    padding: 30px 6px 25px 5px;
}

.header-content .contents h1 {
    display: inline-flex;
    align-items: flex-end;
    height: 53px;
    box-sizing: border-box;
}

.header-content .contents h1 a {
    display: block;
    height: 100%;
}

.header-content .contents h1 a img {
    display: block;
    width: auto;
    height: 100%;
    object-fit: contain; /* 요소 크기에 맞게 img태그의 크기를 조정하는 방법 */
}

.header-content .contents h1 span {
    font-weight: 300;
    font-size: 16px;
    color: #222;
    letter-spacing: 0.313em;
    line-height: 1.500em;
}

.header-content .contents .memberinfo-wrap {
    display: flex;
    align-items: center;
}

.header-content .contents .memberinfo-wrap li {
    margin-left: 44px;
    margin-top: 2px;
}

.header-content .contents .memberinfo-wrap li a {
    display: block;
    position: relative;
    padding-bottom: 19px;
}

.header-content .contents .memberinfo-wrap li a img {
    width: 36px;
    height: 36px;
}

.header-content .contents .memberinfo-wrap li a span {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 13px;
    color: #666;
    line-height: 1.462em;
    white-space: nowrap;
    transform: translate(-50%, 0);
}

/* nav */
.nav {
    position: absolute;
    top: 115px;
    width: 100%;
    padding: 5px 0;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 100;
    border-bottom: 1px solid #222;
}

.nav::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 49px;
    width: 100%;
    height: 2px;
    background-color: #fb4357;
}

.nav .contents {
    position: relative; /* nav-menu > li > h2 */
}

.nav .contents h1 {
    display: none;
}

.nav .nav-menu {
    display: inline-flex;
}

.nav-menu > li {
    width: 162px;
    padding: 20px 0;
}

.nav-menu > li:first-child {
    width: 137px;
}

.nav-menu > li:last-child {
    width: 195px;
}

.nav-menu > li > h2 {
    position: absolute;
    top: 7px;
}

.nav-menu > li:nth-child(2) > h2 {
    left: 80px;
}

.nav-menu > li:nth-child(3) > h2 {
    left: 160px;
}

.nav-menu > li:nth-child(4) > h2 {
    left: 240px;
}

.nav-menu > li:nth-child(5) > h2 {
    left: 335px;
}

.nav-menu > li:last-child > h2 {
    left: 430px;
}

.nav-menu > li > h2 > a {
    font-weight: bolder;
    font-size: 16px;
    color: #222;
    line-height: 1.500em;
}

.nav-menu > li > h2 > a strong {
    font-weight: 800;
    color: #fb4357;
}

.nav-menu .nav-overmenu {
    position: relative;
    margin-bottom: 8px;
    padding: 25px 0 0 25px;
}

.nav-overmenu dt {
    padding-top: 18px;
}

.nav-overmenu dt h2 a {
    font-weight: 700;
}

.nav-overmenu dd {
    margin-top: 16px;
}

.nav-overmenu a {
    color: #222;
    font-size: 14px;
}

.nav .totalsearch-wrap {
    display: inline-flex;
    position: absolute;
    right: 0;
    top: 7px;
    padding: 0 36px 0 10px;
}

.nav .totalsearch-wrap::before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 1px;
    height: 20px;
    background-color: #cacaca;
}

.nav .totalsearch-wrap::after {
    content: '';
    position: absolute;
    right: 0;
    top: 2px;
    width: 1px;
    height: 20px;
    background-color: #cacaca;
}
/* fixed nav */
.nav.fixed {
    position: fixed;
    top: 0px;
    min-width: 1040px;
    padding: 10px 0;
    z-index: 100;
}

.nav.fixed::after {
    top: 0;
    bottom: auto;
    height: 60px;
    background-image: linear-gradient(to right, rgb(215, 67, 87), rgb(241,79,58) 59%, rgb(239, 100, 47));
    z-index: 1;
}

.nav.fixed .contents {
    z-index: 2;
}

.nav.fixed .contents h1 {
    display: block;
    position: absolute;
    left: 0;
    top: 1px;
    width: 70px;
    height: 32px;
    z-index: 3;
}

.nav.fixed .contents h1 a {
    display: block;
}

.nav.fixed .contents h1 a img {
    width: 100%;
    height: 100%;
}

.nav.fixed .contents .nav-menu > li > h2 > a {
    color: #fff;
}

.nav.fixed .contents .nav-menu > li:first-child > h2 {
    left: 120px;
}

.nav.fixed .contents .nav-menu > li:nth-child(2) > h2 {
    left: 200px;
}

.nav.fixed .contents .nav-menu > li:nth-child(3) > h2 {
    left: 280px;
}

.nav.fixed .contents .nav-menu > li:nth-child(4) > h2 {
    left: 360px;
}

.nav.fixed .contents .nav-menu > li:nth-child(5) > h2 {
    left: 455px;
}

.nav.fixed .contents .nav-menu > li:last-child > h2 {
    left: 550px;
}

.nav.fixed .contents .nav-menu > li > h2 > a strong {
    color: #fff;
}

.nav.fixed .contents .totalsearch-wrap label input {
    color: #fff;
    background-color: transparent;
}
/* ---fixed nav--- */

.totalsearch-wrap label {
    display: block;
}

.totalsearch-wrap label input {
    width: 180px;
    height: auto;
    padding: 0 0 0 7px;
    font-size: 16px;
    color: #222;
    line-height: 1.500em;
    border: none;
}

.totalsearch-wrap .btn-totalsearch {
    display: block;
    position: absolute;
    right: 10px;
    top: -1px;
    width: 26px;
    height: 26px;
    font-size: 0;
    line-height: 0;
    background: transparent url('https://img.cgv.co.kr/R2014/images/common/ico/search.png') center center/26px scroll no-repeat;
    border: none;
}

#cgv-wrap .fixedBtn-wrap {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right: 50%;
    margin-right: -548px;
    bottom: 80px;
    min-height: 50px;
    margin-left: 440px;
    text-align: center;
    z-index: 7;
}

@media screen {
    .fixedBtn-wrap {
        right: 50%;
        margin-right: -548px;
    }
}

.fixedBtn-wrap .btn-fixedTicketing {
    position: absolute;
    left: auto;
    right: 0;
    width: 136px;
    padding: 15px 0 17px;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    background-image: linear-gradient(to left, rgb(255, 115, 86), rgb(251, 67, 87));
    box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    transition: right 0.4s;
    opacity: 0;
    pointer-events: none;
}

.fixedBtn-wrap.topBtn .btn-fixedTicketing {
    right: 58px;
    opacity: 1;
    pointer-events: auto;
}

.fixedBtn-wrap .btn-gotoTop {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 0;
    width: 48px;
    height: 48px;
    background-color: #fff;
    border: 1px solid #000;
    box-shadow: 1px 3px 6px 0 rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
}

.fixedBtn-wrap .btn-gotoTop img {
    width: 15px;
    height: 21px;
}

.fixedBtn-wrap.topBtn .btn-gotoTop {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.4s;
}


/* container */
#container {
    width: 100%;
}


/* video */
#container .movieSelection-wrap {
    position: relative;
    height: 498px;
    background-color: #000;
}

#container .contents {
    
    width: 980px;
    height: 100%;
    margin: 0 auto;
}

.movieSelection-wrap .contents .video-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.movieSelection-wrap .contents .video-wrap::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    background-image: linear-gradient(to right, #000 0%, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0) 50%,rgba(0, 0, 0, 0.25) 75%, #000 100%);
    z-index: 2;
}

.movieSelection-wrap .contents .video-wrap video {
    width: 100%;
    height: 100%;
    transform: scale(1.35);
    z-index: 1;
}

.movieSelection-wrap .contents .video-wrap .movieSelection-title {
    position: absolute;
    top: 170px;
    left: 0;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    line-height: 1.450em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.72);
    pointer-events: none;
    z-index: 2;
}

.movieSelection-wrap .contents .video-wrap .movieSelection-txt {
    display: -webkit-box;
    overflow: hidden;
    position: absolute;
    top: 239px;
    left: 0;
    max-width: 100%;
    font-size: 20px;
    color: #fff;
    line-height: 1.450em;
    text-overflow: ellipsis;
    z-index: 3;
    pointer-events: none;
}

/* 무비차트 */
.movieChart-wrap {
    clear: none;
    float: none;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(232, 232, 232, 0.37));

}

.movieChart-wrap .contents {
    overflow: hidden;
    padding: 50px 30px 60px;
}

.movieChart-wrap .contents .movieChart-btn-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.movieChart-btn-wrap .tapBtn-wrap {
    display: inline-flex;
}

.movieChart-btn-wrap .tapBtn-wrap h3 {
    height: auto;
    margin: 0;
    line-height: 1em;
    background-image: none;
}

.movieChart-btn-wrap .tapBtn-wrap h3 a {
    font-weight: 400;
    font-size: 26px;
    color: #666;
    line-height: 1.423em;
}

.movieChart-btn-wrap .tapBtn-wrap h3 .btnReserMovie {
    margin-left: 14px;
}

.movieChart-btn-wrap .tapBtn-wrap h3 a.active {
    font-weight: 700;
    color: #222;
}

.movieChart-btn-wrap .btn-allView {
    padding: 4px 32px 4px 15px;
    font-size: 14px;
    color: #222;
    line-height: 1.429em;
    background: transparent url('https://img.cgv.co.kr/R2014/images/common/ico/arrowR_8x13.png') calc(100% - 7px) center/8px 13px scroll no-repeat;
    border: 1px solid #e2e2e2;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
}

/* swiper */
.swiper {
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    list-style: none;
    padding: 0;
}

.movieChart-list.swiper {
    overflow: visible;
    position: relative;
}

.movieChart-list .swiper-wrapper .swiper-slide .img-wrap {
    overflow: hidden;
    position: relative;
    width: 170px;
    height: 234px;
    border-radius: 10px;
}

.movieChart-list .swiper-slide .img-wrap > img {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(0, -50%);
}

.movieChart-list .swiper-wrapper .swiper-slide .img-wrap::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0),  rgba(0, 0, 0, 0.09) 35%, rgba(0, 0, 0, 0.85));
    z-index: 2;
}

.movieChart-list .swiper-wrapper {
    counter-reset: movie-chart-counter;
}

.movieChart-list .swiper-wrapper .swiper-slide .img-wrap::after {
    content: counter(movie-chart-counter);
    counter-increment: movie-chart-counter;
    position: absolute;
    left: 9px;
    bottom: -4px;
    font-weight: 600;
    font-size: 50px;
    font-style: italic;
    color: #fff;
    line-height: 1em;
    z-index: 3;
    text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.45);
}

.movieChart-list .swiper-wrapper .swiper-slide .img-wrap:hover {
    box-shadow: 6px 10px 20px 0 rgba(0, 0, 0, 0.4);
}

.movieChart-list .swiper-wrapper .swiper-slide .img-wrap .img-hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    z-index: 3;
}

.movieChart-list .swiper-wrapper .swiper-slide .img-wrap:hover .img-hover {
    opacity: 0.4;
}

.img-hover .btn-movieDetail {
    color: #666;
    background-color: #fff;
}

.img-hover .btn-movieTicketing {
    color: #fff;
    background-color: #fb4357;
}

.img-hover a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 34px;
    font-weight: 500;
    font-size: 13px;
    border-radius: 4px;
}

.swiper-slide .movie-info-wrap .movie-name {
    display: block;
    flex-basis: 100%;
    overflow: hidden;
    margin-top: 14px;
    font-size: 18px;
    color: #222;
    line-height: 1.167em;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.swiper-slide .movie-info-wrap span {
    display: block;
    margin-top: 9px;
    color: #444;
    font-size: 14px;
    line-height: 1.214em;
    text-align: center;
}

.movieChart-list .swiper-button-next {
    overflow: hidden;
    right: -20px;
    top: 120px;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 0;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.movieChart-list .swiper-button-next::after {
    content: '';
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.8) url('https://img.cgv.co.kr/R2014/images/common/ico/arrowL.png') center/9px 13px scroll no-repeat;
    transform: rotate(-180deg);
}

.movieChart-list .swiper-button-prev {
    overflow: hidden;
    left: -20px;
    top: 120px;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    font-size: 0;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.movieChart-list .swiper-button-prev::after {
    content: '';
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.8) url('https://img.cgv.co.kr/R2014/images/common/ico/arrowL.png') center/9px 13px scroll no-repeat;
}

.swiper-button-next::after, .swiper-button-prev::after {
    font-family: swiper-icons;
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}

.swiper-button-disabled {
    display: none;
}

/* event */
.event-wrap {
    padding: 60px 0 6px;
}

.event-wrap .event-title-wrap {
    position: relative;
    overflow: hidden;
}

.event-wrap .event-title-wrap h3 {
    float: left;
    height: auto;
    margin: 0;
    font-weight: 700;
    font-size: 26px;
    color: #222;
    line-height: 1.423em;
    background-image: none;
}

.event-wrap .event-title-wrap .btn-allView-event {
    float: right;
    margin-top: 4px;
    padding: 4px 32px 4px 15px;
    color: #222;
    font-size: 14px;
    line-height: 1.429em;
    background: transparent url('https://img.cgv.co.kr/R2014/images/common/ico/arrowR_8x13.png') calc(100% - 7px) center/8px 13px scroll no-repeat;
    border: 1px solid #e2e2e2;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.05);
}

.event-wrap .event-title-wrap .btn-event-control {
    display: block;
    position: absolute;
    right: 106px;
    top: 4px;
    width: 28px;
    height: 28px;
    font-size: 0;
    border: 1px solid #e3e3e3;
    border-radius: 50%;
    background: transparent url('https://img.cgv.co.kr/R2014/images/common/ico/main/stop.png') 10px center/11px 15px scroll no-repeat;
}

.event-title-wrap .btn-event-control.active {
    background: transparent url('https://img.cgv.co.kr/R2014/images/common/ico/main/play.png') center center/9px 13px scroll no-repeat;
}

.event-wrap .event-list-wrap {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-top: 19px;
    margin-left: -30px;
    padding: 0 30px;
}

.event-list-wrap .event-list {
    overflow: visible;
    position: relative;
}

.event-list-wrap .event-list::before {
    content: '';
    display: block;
    position: absolute;
    left: -30px;
    top: 0;
    width: 10px;
    height: 100%;
    background-color: #fff;
    z-index: 2;
}

.event-list .swiper-slide {
    height: 100%;
    position: relative;
}

.event-list .swiper-slide a {
    display: block;
}

.event-list .swiper-slide a .img-wrap {
    overflow: hidden;
    width: 310px;
    height: 207px;
    border-radius: 10px;
}

.event-list .swiper-slide a .img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.event-list a .img-wrap:hover img {
    transform: scale(1.1) translate(0, -4.5%);
    transition: all 0.5s;
}

.event-list .swiper-slide a strong {
    display: block;
    overflow: hidden;
    margin-top: 16px;
    font-weight: 600;
    font-size: 18px;
    color: #222;
    line-height: 1.444em;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.event-list .swiper-slide a span {
    display: block;
    margin-top: 4px;
    font-size: 14px;
    color: #666;
    line-height: 1.429em;
}

.event-list-wrap .swiper-button-prev:after {
    content: '';
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.8) url('https://img.cgv.co.kr/R2014/images/common/ico/arrowL.png') center/9px 13px scroll no-repeat;
}

.event-list-wrap .swiper-button-next:after {
    content: '';
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.8) url('https://img.cgv.co.kr/R2014/images/common/ico/arrowL.png') center/9px 13px scroll no-repeat;
    transform: rotate(-180deg);
}

.event-list-wrap .swiper-button-next {
    overflow: hidden;
    right: -20px;
    top: 120px;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, rgba(0, 0, 0, 0.2));
}

.event-list-wrap .swiper-button-prev {
    overflow: hidden;
    left: -20px;
    top: 120px;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, rgba(0, 0, 0, 0.2));
}


footer .bottom-wrap {
    height: 200px;
}

footer .policy-list {
    display: flex;
    justify-content: space-between;
    max-width: 980px;
    margin: 0 auto;
    padding: 23px 0;
    border-bottom: 1px solid #ebebeb;
}

footer .policy-list li a {
    font-weight: 600;
    font-size: 13px;
    color: #666;
    line-height: 1.462em;
}

footer .policy-list li a:hover {
    text-decoration: underline;
}

footer .company-info-wrap {
    max-width: 980px;
    padding: 23px 0;
    margin: 0 auto;
}

footer .company-info-wrap .company-info {
    font-size: 12px;
    color: #666;
    line-height: 1.667em;
}

.company-info address {
    font-style: normal;
}

.company-info .company-info-list {
    display: flex;
}

.company-info-list dt::after {
    content: ':';
    padding: 0 4px;
}

.company-info-list dt:not(:first-child)::before {
    content: '·';
    padding: 0 8px 0 4px;
}